= semantic_form_for @profile do |f|
  = f.inputs do
    = f.input :city, hint: 'Пример: Москва'
    = f.input :shop_name, hint: 'Пример (www.kinderly.ru): Киндерли'
    = f.input :shop_description,  as: :string,
                          hint: 'Пример: Интернет-магазин мебели или интернет-магазин бытовой техники'
    = f.input :delivery_in_russia,  as: :radio
    = f.input :free_delivery,  as: :radio,
                          hint: 'Если доставка бесплатная на часть товаров выберете нет'
    = f.input :self_delivery,  as: :radio
    = f.input :special_url, hint: 'Пример: http://www.kinderly.ru/collection/sale'
    = f.input :card_payments,  as: :radio
    = f.input :cashless,  as: :radio
  
  = f.actions do
    = f.action :submit, label: 'Сохранить', button_html: {class: 'btn'}
#hint
  %p Заполните, пожалуйста, все графы. После этого нажмите "Сохранить".
  %p Если вы затрудняетесь с ответом вопрос из какой-то графы, пропустите её.