%h1 Listing profiles

%table
  %tr
    %th City
    %th Shop name
    %th Shop description
    %th Delivery in russia
    %th Free delivery
    %th Self delivery
    %th Special url
    %th Card payments
    %th Cashless
    %th Account
    %th
    %th
    %th

  - @profiles.each do |profile|
    %tr
      %td= profile.city
      %td= profile.shop_name
      %td= profile.shop_description
      %td= profile.delivery_in_russia
      %td= profile.free_delivery
      %td= profile.self_delivery
      %td= profile.special_url
      %td= profile.card_payments
      %td= profile.cashless
      %td= profile.account
      %td= link_to 'Show', profile
      %td= link_to 'Edit', edit_profile_path(profile)
      %td= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Profile', new_profile_path
