%p
  %b= t 'activerecord.attributes.profile.city'
  = @profile.city
%p
  %b= t 'activerecord.attributes.profile.shop_name'
  = @profile.shop_name
%p
  %b= t 'activerecord.attributes.profile.shop_description'
  = @profile.shop_description
%p
  %b= t 'activerecord.attributes.profile.delivery_in_russia'
  = yes_no @profile.delivery_in_russia
%p
  %b= t 'activerecord.attributes.profile.free_delivery'
  = yes_no @profile.free_delivery
%p
  %b= t 'activerecord.attributes.profile.self_delivery'
  = yes_no @profile.self_delivery
%p
  %b= t 'activerecord.attributes.profile.special_url'
  = @profile.special_url
%p
  %b= t 'activerecord.attributes.profile.card_payments'
  = yes_no @profile.card_payments
%p
  %b= t 'activerecord.attributes.profile.cashless'
  = yes_no @profile.cashless


= link_to 'Редактировать', edit_profile_path

